<!-- customer/index.html.erb -->
<div class="jumbotron">
  <h1 style="font-style: italic; text-align: center">努力の結晶</h1>
  <p style="border: 1px solid #fff; padding: 5px">ここは、僕の努力の結晶を置いていくところです。好きにお使いください。今後どうなるかは未定です。</p>
  <div class="row">
    <div class="col-md-offset-8">
      <%= link_to '興味がある方はコチラからどうぞ', signup_path, class: "btn btn-primary btn-lg", role: 'button' %>
    </div>
  </div>
</div>